---
import CvIcon from './Icons/CvIcon.astro'
import GithubLogo from './Icons/GithubLogo.astro'
import LinkedinIcon from './Icons/LinkedinIcon.astro'
import MailIcon from './Icons/MailIcon.astro'
import Section from './Section.astro'
const {
  translation: {
    INTRODUCCION_SECTION_TITLE,
    WORK_STATUS,
    NAME,
    FIRST_PARAGRAPH,
    SECOND_PARAGRAPH,
    THIRD_PARAGRAPH,
  },
} = Astro.props
---

<Section title={INTRODUCCION_SECTION_TITLE} id="about-me">
  <article class="my-4 flex gap-3 w-[750px] h-96">
    <img
      src="/public/me.png"
      alt="Persona de pie en la orilla del mar, con el agua tocando sus pies, bajo un cielo parcialmente nublado en la playa."
      class="rounded w-80 h-full object-cover"
    />
    <div class="grid place-content-center">
      <span>{WORK_STATUS}</span>
      <h3 class="text-xl font-black" set:html={NAME} />
      <p class="w-full text-pretty">
        {FIRST_PARAGRAPH}
      </p>
      <p class="w-full text-pretty" set:html={SECOND_PARAGRAPH} />
      <p class="w-full text-pretty" set:html={THIRD_PARAGRAPH} />
      <footer class="flex gap-1">
        <a href="#">
          <GithubLogo />
        </a>
        <a href="#">
          <LinkedinIcon />
        </a>
        <a href="#">
          <CvIcon />
        </a>
        <a href="#">
          <MailIcon />
        </a>
      </footer>
    </div>
  </article>
</Section>

<style>
  h3 > span {
    background-clip: text;
    background-image: linear-gradient(to right, #56ab2f, #3b8ed5, #7c3aed);
    color: transparent;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
  }
</style>
