---
import Section from './Section.astro'
import BentoItem from './BentoItem.astro'
import CssLogo from './Icons/CssLogo.astro'
import HtmlLogo from './Icons/HtmlLogo.astro'
import JSLogo from './Icons/JSLogo.astro'
import ReactLogo from './Icons/ReactLogo.astro'
import TailwindLogo from './Icons/TailwindLogo.astro'
import ReactRouterDomLogo from './Icons/ReactRouterDomLogo.astro'
import AstroLogo from './Icons/AstroLogo.astro'

const { translation } = Astro.props

const bentoClasses = [
  {
    name: 'HTML',
    logo: HtmlLogo,
    bento: 'lg:row-span-3 lg:col-span-5',
    hoverColor: '#f48043',
  },
  {
    name: 'CSS',
    logo: CssLogo,
    bento: 'lg:row-span-3 lg:col-span-2',
    hoverColor: '#6596f5',
  },
  {
    name: 'JavaScript',
    logo: JSLogo,
    bento: 'lg:row-span-6 lg:col-span-2',
    hoverColor: '#ffda43',
  },
  {
    name: 'React',
    logo: ReactLogo,
    bento: 'lg:row-span-3 lg:col-span-2',
    hoverColor: '#aee6f3',
  },
  {
    name: 'Tailwind',
    logo: TailwindLogo,
    bento: 'lg:row-span-3 lg:col-span-5',
    hoverColor: '#8ad0d6',
  },
  {
    name: 'React Router Dom',
    logo: ReactRouterDomLogo,
    bento: 'lg:row-span-3 lg:col-span-6',
    hoverColor: '#ff9da9',
  },
  {
    name: 'Astro',
    logo: AstroLogo,
    bento: 'lg:row-span-3 lg:col-span-3',
    hoverColor: '#ff9532',
  },
]
---

<Section title={translation.TITLE} id="technologies">
  <p>
    {translation.PARAGRAPH}
  </p>
  <ul
    class="grid grid-cols-2 gap-4 lg:h-[500px] lg:grid lg:grid-cols-9 lg:grid-rows-9"
  >
    {
      bentoClasses.map((data) => (
        <BentoItem
          className={`${data.bento} `}
          text={data.name}
          hoverColor={data.hoverColor}
        >
          <data.logo />
        </BentoItem>
      ))
    }
  </ul>
</Section>
